option_settings:
  aws:elasticbeanstalk:application:environment:
    ESDB_CONNECTION_STRING: eventstore
    REACT_APP_API_URL: https://dev.gc-registry.com/api
    JWT_SECRET_KEY: secret_key
    MIDDLEWARE_SECRET_KEY: secret_key
    POSTGRES_PASSWORD: lQT7qQxpCqMEWeOz9y05
    POSTGRES_USER: postgres
    POSTGRES_DB: registry
    DATABASE_HOST_READ: granular-registry-db-dev-read.cdaotyxbrday.us-east-1.rds.amazonaws.com
    DATABASE_HOST_WRITE: granular-registry-db-dev-write.cdaotyxbrday.us-east-1.rds.amazonaws.com
    DATABASE_PORT: 5432
  aws:elasticbeanstalk:container:docker:run:environment:
    ESDB_CONNECTION_STRING: eventstore
    REACT_APP_API_URL: https://dev.gc-registry.com/api
    JWT_SECRET_KEY: secret_key
    MIDDLEWARE_SECRET_KEY: secret_key
    POSTGRES_PASSWORD: lQT7qQxpCqMEWeOz9y05
    POSTGRES_USER: postgres
    POSTGRES_DB: registry
    DATABASE_HOST_READ: granular-registry-db-dev-read.cdaotyxbrday.us-east-1.rds.amazonaws.com
    DATABASE_HOST_WRITE: granular-registry-db-dev-write.cdaotyxbrday.us-east-1.rds.amazonaws.com
    DATABASE_PORT: 5432
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.medium
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced 